
body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  background-color: #CDD5DB;
}
.navbar {
  background-color: #071739;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.navbar .left {
  font-size: 35px;
  font-weight: 700;
}
.navbar .right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar .right div {
  font-size: 25px;
  font-weight: 400;
  background-color: #4B6382;
  padding: 10px 20px;
  border-radius: 10px;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
input, textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid #D7D7D7;
  border-radius: 10px;
  font-size: 20px;
  color: #333;
}
input::placeholder, textarea::placeholder {
  color: #ACACAC;
}
.approval {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 25px;
}
.approval label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.approval .green {
  font-size: 18px;
  color: #4DCF33;
  font-weight: 700;
}
.approval .red {
  font-size: 18px;
  color: #CC2323;
  font-weight: 700;
}
.submit-btn {
  background-color: #005399;
  color: white;
  font-weight: 700;
  font-size: 25px;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
